<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eaglet.unigo">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Invite_Friends" />
        <activity android:name=".Store.Store" />
        <activity android:name=".Login.Login" />
        <activity android:name=".Login.SplashAndLogin" />
        <activity android:name=".Login.Major" />
        <activity android:name=".Login.Grade" />
        <activity android:name=".Login.CodeVerify" />
        <activity android:name=".mainMenu.setting" />

        <activity android:name=".Registering.Register21"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Registering.Register23"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".Match.SelectMode" android:label="مسابقه" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Match.Serch" android:label="جست و جو" android:parentActivityName=".Match.SelectMode"/>
        <activity android:name=".Match.SelectLesson" android:label="مسابقه" android:parentActivityName=".Match.SelectMode"/>
        <activity android:name=".Match.SelectChapter" android:label="مسابقه" android:parentActivityName=".Match.SelectMode"/>
        <activity android:name=".Match.Play" android:label="مسابقه" android:parentActivityName=".Match.SelectMode"/>
        <activity android:name=".Match.EndActivity" android:label="مسابقه" android:parentActivityName=".Match.SelectMode"/>
    </application>

</manifest>